.centralize-my-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------- Git Remote ?----------------*/

.positioning {
    /* display: grid;
    grid-template-rows: 15vh 25vh 50vh 10vh; */
    display: flex;
    flex-direction: column;
}



.label-sequence-to-remove {
    background-color: white;
    margin-top: 5px;
    font-size: 20px;
}
.input-sequence-to-remove {
    background-color: white;
    border: 2px solid green;
    border-radius: 10px;
    height: 35px;
    width: 400px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    
}




.logo {
    background-color: rgb(109, 109, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.text-especification-area {
    background-color: rgb(226, 226, 124);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.text-modification-area {
    background-color: rgb(175, 214, 97);
    min-height: 65vh;
    height: auto;
    padding-bottom: 10vh;
}
.divs-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 60px;
    padding-right: 60px;
}
.text-area {
    display: flex;
    flex-direction: column;
    min-height: 51vh;
    height: auto;
    width: 45vw;
    padding: 0px;
}
.text-input {
    min-height: 100%;
    height: auto;
    width: 100%;
    border: 4px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 0px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-family: Arial, "Times New Roman", Times, serif;
    white-space: pre-wrap;     /* mantém quebras e permite quebrar linha */
    overflow-wrap: anywhere;   /* quebra palavras longas mesmo sem espaço */
    word-break: break-word;    /* compatibilidade extra */
}
.text-input:empty::before {
    color: rgb(53, 53, 53);
    font-style: italic;
    font-weight: bold;
    /* pointer-events: none; */
}
#original-text:empty::before {
    content: "Insira aqui o texto que será alterado...";
}
#new-text:empty::before {
    content: "Esperando texto para alterar...";
}

h2 {
    padding: 0px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
}





.footer-ads {
    background-color: green;
    height: 10vh;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}