
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 7%;
    padding-right: 7%;
}
.centralize-my-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*------------------------------------------------------------
    Header
------------------------------------------------------------*/
.header-div {
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.site-name {
    font-size: 3.5rem;
}

/*------------------------------------------------------------
    Area das Sequencias
------------------------------------------------------------*/
.substring-input-container {
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-bottom: 1.5rem;
}
.substring-label {
    margin-top: 5px;
    font-size: 20px;
}
.substring-input {
    background-color: #e9fbff;
    border: 2px solid #15b9a3;
    border-radius: 10px;
    height: 35px;
    width: 80%;
    max-width: 400px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-family: Arial, "Times New Roman", Times, serif;
}
.substring-input::placeholder {
    font-style: italic;
}
/*------------------------------------------------------------
    Area do Texto
------------------------------------------------------------*/
/* .text-to-change-area {
    / background-color: rgb(255, 255, 255); /
    height: auto;
    padding-bottom: 10vh;
} */
.text-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 6%;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 6rem;
    /* background-color: red; */
    /* padding-left: 60px;
    padding-right: 60px; */
}
.text-div {
    display: flex;
    flex-direction: column;
    /* min-height: 52vh; */
    height: auto;
    width: auto;
    padding: 0px;
}
.text-input {
    background-color: #e9fbff;
    /* min-height: 98%;
    height: auto; */
    min-height: 20rem;
    width: auto;
    border: 2px solid #15b9a3;
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-family: Arial, "Times New Roman", Times, serif;
    white-space: pre-wrap;     /* permite quebrar linha */
    overflow-wrap: anywhere;
    /* overflow-y: hidden; */
    resize: none;
    word-break: break-word;
}
.text-input::placeholder {
    color: rgb(82, 82, 82);
    font-style: italic;
    font-weight: bold;
}

/* Caso use DIV e não TEXTAREA, para ter um Placeholder*/
/* .text-input:empty::before {
    color: rgb(53, 53, 53);
    font-style: italic;
    font-weight: bold;
    pointer-events: none;
}
#original-text:empty::before {
    content: "Insira aqui o texto que será alterado...";
}
#new-text:empty::before {
    content: "Esperando texto para alterar...";
} 
*/
h2 {
    padding: 0px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
}
/*------------------------------------------------------------
    Footer
------------------------------------------------------------*/
.footer-ads {
    background-image: url(img/Footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

@media screen and (max-width: 800px) {
    .site-name {
        font-size: 2rem;
        background-color: green;
    }
}