@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Os dois locais com a função clamp() foram comentados,
pois vi ele com o Copiloto, mas não entendi como funciona*/

body {
    background-color: #040938;
    color: #e9e9e9;
    font-family: "Open Sans";
    width: 100%;
    min-height: 100vh;
}
b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}
.centralize-my-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-
    Header
------------------------------------------------------------*/
.header-div {
    display: flex;
    align-items: center;
    height: 7vh;
    border-bottom: 2px solid white;
}
.site-name {
    color: white;
    font-size: 1.75rem;
    padding-left: 1rem;
}


/*-
    Main div
---------------------------------*/
.main-container {
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-right: 7%;
}
/*-------------------------------*/


/*-
    Area das Sequencias
------------------------------------------------------------*/
.substring-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.substring-label {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1.15rem;
}
.substring-input {
    background-color: white;
    border: 2px solid black;
    border-radius: 1.25rem;
    height: 2.35rem;
    width: 30%;
    padding: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1.15rem;
    color: black;
}
.substring-input::placeholder {
    font-style: italic;
}
/*-------------------------------*/


/*-
    Area do Texto
------------------------------------------------------------*/
.text-input-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    position: relative;
    column-gap: 1%;
    justify-content: center;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}
.text-header {
    padding: 0;
    padding-bottom: 0.25rem;
    text-align: center;
    font-size: 1.5rem;
}
.text-div {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: auto;
    padding: 0;
}
.text-input {
    background-color: white;
    color: black;
    min-height: 20rem;
    width: auto;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 0.85rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;     /* permite quebrar linha */
    overflow-wrap: anywhere;
    resize: none;
    word-break: break-word;
}
.text-input::placeholder {
    color: #525252;
    font-style: italic;
    font-weight: bold;
}
#new-text-input {
    background-color: rgb(182, 182, 182);
}
#new-text-input::placeholder {
    color: #3a3a3a;
}
.new-text-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #686868;
    height: 3.5rem;
    width: 3.5rem;
    border: 1.5px solid black;
    border-radius: 2rem;
    margin-top: 3rem;
    cursor: pointer;
}
.new-text-button:hover {
    background: 
        linear-gradient(135deg, #8d038d, #6c0396, #0b688d) padding-box,
        linear-gradient(to right, #00e1ff, #6dd4c7, #71d189) border-box;;
}
.new-text-button:active {
    background: 
        linear-gradient(135deg, #270327, #4e4950, #554244) padding-box,
        linear-gradient(135deg, #71d189) border-box;;
}
.copy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.342);
    position: absolute;
    bottom: 0.75rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    padding: 0.4rem;
    border: 1px solid #575757;
    border-radius: 1.5rem;
}
.copy-button:hover {
    background:
        linear-gradient(210deg, #3dec5a, #29c797, #0855c9) padding-box,
        linear-gradient(135deg, #592386, #2188e9, #0f8abb) border-box;
    cursor: pointer;
}
.copy-button:active {
    background:
        linear-gradient(210deg, #b9bb30, #1c8a3d, #490588) padding-box,
        linear-gradient(135deg, #592386, #2188e9, #0f8abb) border-box;
    border: 2px solid transparent;
}
/*-------------------------------*/


/*-
    Footer
------------------------------------------------------------*/
.footer-ads {
    background-color: #9da6be;
    color: black;
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
/*-------------------------------*/


/*------------   --------------
-------- Media Queries --------
--------------   ------------*/
@media screen and (max-width: 800px) {
    .main-container {
        padding-left: 3%;
        padding-right: 3%;
    }
    .site-name {
        font-size: 1.5rem;
        white-space: nowrap; /* Para não quebrar o logo*/
    }
    .substring-input-container {
        margin-top: 1.75rem;
    }
    .substring-input {
        width: 65%;
    }
    .text-input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
    }
    .text-div {
        height: 15rem;
    }
    .text-input {
        min-height: 2rem;
        height: 80%;
    }
    .new-text-button {
        margin-top: 0;
        align-self: center;
        transform: rotate(90deg);
    }
    .new-text-button:active {
        background: 
            linear-gradient(135deg, #8d038d, #6c0396, #0b688d) padding-box,
            linear-gradient(to right, #00e1ff, #6dd4c7, #71d189) border-box;;
        }
    .copy-button {
        right: 0.5rem;
    }
}
@media screen and (min-width: 801px) and (max-width: 1020px) {
    .substring-input {
        width: 50%;
    }
}
@media screen and (min-width: 1021px) and (max-width: 1500px) {
}
@media screen and (min-width: 1500px) {
    .text-input {
        min-height: 28rem;
    }
    .site-name {
        font-size: 2rem;
    }
    .footer-ads, .text-div, .substring-label, .substring-input {
        font-size: 1.25rem;
    }
    .substring-label {
        margin-top: 1rem;
    }
}