/* Os dois locais com a função clamp() foram comentados,
pois vi ele com o Copiloto, mas não entendi como funciona*/

body {
    background: linear-gradient(90deg, white, #f5f5f5, white, #f5f5f5, white);
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 7%;
    padding-right: 7%;
}
b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}

.centralize-my-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*------------------------------------------------------------
    Header
------------------------------------------------------------*/
.header-div {
    background: linear-gradient(45deg, white, #baf0e9, #93f1e5, #109684);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    border-radius: 10rem 0rem 10rem 0rem;
}
.site-name {
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

/*------------------------------------------------------------
    Area das Sequencias
------------------------------------------------------------*/
.substring-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.substring-label {
    margin-top: 0.25rem;
    font-size: 1.25rem;
}
.substring-input {
    background-color: #e9fbff;
    border: 2px solid #15b9a3;
    border-radius: 10px;
    height: 2.5rem;
    width: 50%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.25rem;
    color: #750d0d;
    font-family: Arial, "Times New Roman", Times, serif;
}
.substring-input::placeholder {
    font-style: italic;
}
/*------------------------------------------------------------
    Area do Texto
------------------------------------------------------------*/

.text-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    justify-content: center;
    column-gap: 5%;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 6rem;
}
.text-div {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: auto;
    padding: 0;
}
.text-input {
    background-color: #e9fbff;
    min-height: 20rem;
    width: auto;
    border: 2px solid #15b9a3;
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;     /* permite quebrar linha */
    overflow-wrap: anywhere;
    resize: none;
    word-break: break-word;
}
/* 
.text-input::-webkit-scrollbar {
    width: 1rem;
}
.text-input::-webkit-scrollbar-track {
  border-radius: 10px;
}
.text-input::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 1rem;
}
.text-input::-webkit-scrollbar-thumb:hover {
  background: #b30000;
  
} */

.text-input::placeholder {
    color: rgb(82, 82, 82);
    font-style: italic;
    font-weight: bold;
}
.text-h {
    background: linear-gradient(45deg, white, white,  white, #baf0e9, #93f1e5, #3fdbc6,  white, white,  white);
    padding: 0;
    padding-bottom: 0.25rem;
    text-align: center;
    font-size: 2rem;
}
.new-text-button {
    /* display: none; */
    position: absolute;
    background: 
        linear-gradient(135deg, #610261, #460261, #0c8dc0) padding-box,
        linear-gradient(to right, #00e1ff, #6dd4c7, #71d189) border-box;;
    padding: 0.75rem;
    border: 1.5px solid transparent;
    border-radius: 2.5rem;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: padding 0.4s;
    z-index: 2;
}
.new-text-button:hover {
    padding: 0.9rem;
    border-radius: 2.7rem;
    background: 
        linear-gradient(135deg, #8d038d, #6c0396, #0b688d) padding-box,
        linear-gradient(to right, #00e1ff, #6dd4c7, #71d189) border-box;;
}
.new-text-button:active {
    background: 
        linear-gradient(135deg, #270327, #4e4950, #554244) padding-box,
        linear-gradient(135deg, #ffee00, #c9bd51, #f15d5d) border-box;;
    border: 2.5px solid transparent;
}

.copy-button {
    position: absolute;
    background: 
        linear-gradient(210deg, #30bb47, #1c8a69, #053988) padding-box,
        linear-gradient(135deg, #592386, #2188e9, #0f8abb) border-box;
    padding: 0.25rem 0.75rem;
    border: 2px solid transparent;
    border-radius: 2rem;
    color: white;
    font-size: 1.25rem;
    text-align: center;
    top: 1rem;
    right: -3.5rem;
}
.copy-button:hover {
    background:
        linear-gradient(210deg, #3dec5a, #29c797, #0855c9) padding-box,
        linear-gradient(135deg, #592386, #2188e9, #0f8abb) border-box;
}
.copy-button:active {
    background:
        linear-gradient(210deg, #b9bb30, #1c8a3d, #490588) padding-box,
        linear-gradient(135deg, #592386, #2188e9, #0f8abb) border-box;
}

.copy-message-confirmation {
    position: fixed;
    background-color: #ebebeb;
    padding: 0.25rem 1rem;
    border: 2px solid #592386;
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem #5f5f5f;
    font-size: 1.25rem;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

/*------------------------------------------------------------
    Footer
------------------------------------------------------------*/
.footer-ads {
    /* background-image: url(img/Footer.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(90deg, #139da7, #15bba5, #16c9b1, #6dd4c7, #71d189);
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}




@media screen and (max-width: 800px) {
    .header-div {
        height: 15vh;
    }
    .site-name {
        font-size: 1.9rem;
        /* font-size: clamp(1.9rem, 1vw, 2rem); */
        /* background-color: green; */
        white-space: nowrap; /* Para não quebrar em telas pequenas*/
    }
    .substring-input-container {
        margin-top: 1.75rem;
    }
    .substring-input {
        width: 75%;
    }
    .text-input-container {
        display: flex;
        flex-direction: column;
    }
    .text-div {
        height: 15rem;
    }
    .text-input {
        min-height: 2rem;
        height: 80%;
    }
    .new-text-button {
        top: 3rem;
        left: 95%;
    }
    .copy-button {
        right: 92%;
        top: 0.5rem;
    }
    .copy-message-confirmation {
        top: 15%;
    }
}



@media screen and (min-width: 801px) and (max-width: 1020px) {
    .site-name {
        font-size: 2rem;
        /* background-color: red; */
    }
}
@media screen and (min-width: 1021px) and (max-width: 1500px) {
}
@media screen and (min-width: 1500px) {
    .text-input {
        min-height: 30rem;
    }
    .site-name {
        font-size: 4rem;
        /* background-color: blue; */
    }
    .footer-ads, .text-div, .substring-label, .substring-input {
        font-size: 1.25rem;
        /* font-size: clamp(1rem, 1vw, 3rem); */
    }
    .substring-label {
        margin-top: 1rem;
    }
}